<footer class="footer bg-ligth  navbar-light rounded-top text-center">
  <div class="container py-2">
    <p class="text-black my-2">
      &copy; {{ autor.nombre + ' ' + autor.apellido}}
    </p>
  </div>
</footer>
